<a href="https://colab.research.google.com/github/Hari1028/ML-python/blob/main/basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
# printing statment
print("HARSH")
!ls # gives the details of all the files present in collab

HARSH
sample_data

In [ ]:
#input
a=int(input("Enter the number 1 "))
b=int(input("Enter the number 2 "))
sum=a+b
print(sum)

Enter the number 1 5
Enter the number 2 3
8

In [ ]:
# changing the data type
a = 5
print(float(a))

5.0

Basic Data Types in Python:

Integer ,   
Floating Point,
Complex ,
Boolean ,
String

In [ ]:
# integers
a = 8
print(a)
type(a)

8

int

In [ ]:
# floating point
b = 2.3
print(b)
type(b)

2.3

float

In [ ]:
# complex numbers
c = 1 + 3j
print(c)
type(c)

(1+3j)

complex

In [ ]:
#Conversion of one data type to another
h=10
print(h)
type(h)

10

int

In [ ]:
n= float(h)
print(n)
type(n)

10.0

float

In [ ]:
#Boolean
q= True
print(q)
type(q)

True

bool

In [ ]:
a=5
b=10
print(a<b)

True

In [ ]:
# String
z="HARSH"
print(z)
type(z)

HARSH

str

In [ ]:
# Slicing
my_string = "Programming"

In [ ]:
print(my_string[1:5])    # values from index 1 to 5-1 will be sliced

rogr

In [ ]:
# step
print(my_string[0:10:2])

Pormi

In [ ]:
# String Concatenation
word_1 = 'Machine '
word_2 = 'Learning'

print(word_1+word_2)

Machine Learning

Types of Objects in Python:

Immutable Objects

Mutable Objects

Immutable Objects:
1. int
2. float
3. string
4. bool
5. tuple

Mutable Objects:
1. List
2. Set
3. Dictionary

In [ ]:
# list should be included in the square brackets
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [ ]:
# lists can have multiple data types
my_list = [2, 3, 1.8, 'English', True]
print(my_list)

[2, 3, 1.8, 'English', True]

In [ ]:
# add elements to a list
my_list = [2, 3, 1.8, 'English', True]
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [ ]:
# print elements of a list using their index
print(my_list[0])
print(my_list[2])

2
1.8

In [ ]:
# lists allow duplicate values
list_1 = [1,2,3,4,5,12,2,3]
print(list_1)

[1, 2, 3, 4, 5, 12, 2, 3]

In [ ]:
# Length of lst
print(len(list_1))

8

In [ ]:
# initiating an empty list
list_2 = []
print(list_2)

[]

In [ ]:
# delete an item in a list
list_2 = [2, 3, 1.8, 'English', True, 6]
print(list_2)

del list_2[2]
print(list_2)

[2, 3, 1.8, 'English', True, 6]
[2, 3, 'English', True, 6]

In [ ]:
# join two lists
list_3 = [1,2,3,4,5]
list_4 = [6,7,8,9,10]

list_5 = list_3 + list_4
print(list_5)

*Tuple* Tuples are immutable --> Unchangeable

In [ ]:
tuple_1 = (2,3,4,5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [ ]:
# tuple allows multiple data types
tuple_2 = (1,2,3.5, 'Machine Learning', False)
print(tuple_2)

(1, 2, 3.5, 'Machine Learning', False)

In [ ]:
# converting  a list to a tuple

my_list = [3,4,5,6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [ ]:
print(my_tuple[0])
print(my_tuple[1])

3
4

Set

In [ ]:
# set --> Curly brackets
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [ ]:
# convert a list to a set
list_5 = [4,5,6,7,8]

x = set(list_5)
print(x)

{4, 5, 6, 7, 8}

In [ ]:
# set does not allow duplicate values
set_3 = {1,2,3,4,5,1,2,3}
print(set_3)

{1, 2, 3, 4, 5}

Dictionary

1.*Key*-Value Pair

In [ ]:
my_dictionary = {'name':'David','age':30,'country':'India'}
print(my_dictionary)
type(my_dictionary)

{'name': 'David', 'age': 30, 'country': 'India'}

dict

In [ ]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

David
30
India

In [ ]:
# dictionary does not allow duplicate values
dictionary_2 = {'name':'David','age':30,'country':'India','name':'David','age':30,'country':'India'}
print(dictionary_2)

{'name': 'David', 'age': 30, 'country': 'India'}

*1*. Arithmetic Operators

In [ ]:
num_1 = 20
num_2 = 10

# addition
sum = num_1 + num_2
print('sum = ',sum)

# subtraction
diff = num_1 - num_2
print('difference = ',diff)

# multiplication
pro = num_1 * num_2
print('product = ',pro)

# division
quo = num_1 / num_2
print('quotient = ',quo)

# exponent
exp = num_1**num_2   # 20^10
print('exponent = ',exp)

# modulus
mod = num_1 % num_2
print('reminder = ',mod)

sum =  30
difference =  10
product =  200
quotient =  2.0
exponent =  10240000000000
reminder =  0

2. Assignment Operators
+=

-=

*=

**=

/=

%=

In [ ]:
a = 5
print(a)

5

In [ ]:
a = 5
a += 5   # a = a + 5
print(a)

10

In [ ]:
b = 5
b -= 2   # b = b-2
print(b)

3

3. Comparison Operators

In [ ]:
a = 5
b = 10

print(a == b)   # equal to
print(a != b)   # not equal to
print(a > b)    # greater than
print(a < b)
print(a <= b)
print(a >= b)

False
True
False
True
True
False

4. Logical Operators

and

or

not

In [ ]:
a = 10

print( a>20 and a>5)
print( a>20 or a>5)
print( not( a>8 and a>5))

False
True
False

In [ ]:
x = 5
y = 5

print(x is y)

True

In [ ]:
x = 5
y = 10

print(x is y)

False

In [ ]:
x = 5
y = 5

print(x is not y)

False

In [ ]:
x = 5
y = 10

print(x is not y)

True

6. Membership Operator:

in

not in

In [ ]:
a = 5
b =10

c = [1,2,3,4,5]
print( a in c)
print( b in c)

True
False

In [ ]:
a = 5
b =10

c = [1,2,3,4,5]
print( a not in c)
print( b not in c)

False
True